/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Style resets */

* {
  box-sizing: border-box;
}

body {
  margin: 3rem;
}

/* post partial */

.post {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border: 2px solid black;
}

.post > h2 {
  align-self: flex-start;
  font-size: 1.25rem;
  margin: 0.5rem;
}

.post > p {
  font-size: 1rem;
}

.post > small {
  align-self: flex-end;
  font-size: 0.9rem;
  font-weight: 600;
}

/* User partial */

.user {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.user .photo {
  width: 6rem;
  height: 6rem;
  border: 2px solid black;
  background-color: lightgrey;
}

.user .data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 0.5rem 2rem;
  width: 100%;
  height: 5rem;
  border: 2px solid black;
  background-color: lightgrey;
}

.user .data > h2 {
  font-size: 2rem;
}

.user .data > small {
  align-self: flex-end;
  font-size: 1rem;
  font-weight: 600;
}

/* Users */
.users {
  display: flex;
  flex-direction: column;
}

.user-bio {
  margin-top: 1rem;
  border: 2px solid black;
  padding: 1rem;
}

.user-bio > h4 {
  font-size: 1.25rem;
  margin: 0.5rem;
}

.user-bio > p {
  font-size: 1rem;
}

button {
  padding: 0.25rem;
  align-self: center;
  margin: 1rem;
  font-size: 1rem;
}
